<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<!-- <nav>
  <ul>
 <li><a href="/home"> home </a></li>
  <li><a href="/services"> services </a></li>
  <li><a href="/contact"> contact </a></li>
        
  </ul>
 </nav>
  -->
  

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Our services</a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link disabled" href="/contact">Contact Us </a>
        </li>
      </ul>
    </div>
  </nav>


    <h2> Contact Us </h2>
    <img src="https://thumbs.dreamstime.com/b/support-center-calls-administrator-woman-laptop-headphones-customer-service-vector-illustration-business-headphone-office-177325767.jpg" alt="" />

</body>
</html>